<?xml version='1.0' encoding='utf-8'?>
<widget id="no.apt.PushNot" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PushNot</name>
    <description>
       Sample for native Push Notifications
    </description>
    <author email="thomasl@apt.com" href="http://tryapt.no">
        Author Thomas Lein
    </author>
    <access origin="*" />
    <content src="index.html" />
</widget>
