* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin:0px;
    padding:0px;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #e4e4e4;
    font-family: Helvetica, Arial, sans-serif;
    font-size:100%;
    height:100%;
    width:100%;
}

#content{
    margin-left: 10px;
}
